################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/npuzzle
/bin/Debug/netcoreapp2.1
/obj
/Properties/launchSettings.json
/.vs/config/applicationhost.config
